.contactUs {
    margin-top: 80px;
    margin-bottom: 80px;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    &__decor {
        position: absolute;
        height: 150px;
        left: -10%;
        z-index: 1;
        top: -12%;
        transform: rotate(-42deg);
          img {
            max-width: 100%;
            max-height: 100% ;
          }
      }
}
.custom-titles {
    &__wrap {
        width: 37%;
        text-align: center;
        margin-bottom: 50px;
    }
}
@media (max-width: 1024.98px) {
    .contactUs {
        margin-top: 40px;
    }
    .custom-titles {
        &__wrap {
            width: 50%;
        }
    }
}
@media (max-width: 768.98px) {
    .custom-titles {
        &__wrap {
            width: 70%;
        }  
    }
    .contactUs {
        &__decor {
            height: 100px;
            transform: rotate(-60deg);
        }
    }
}
@media (max-width: 425.98px) {
    .contactUs {
        margin-top: 0px;
    }
}