.slider {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 100%;
    padding: 40px 30px;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 100px 80px 0px rgba(49, 49, 49, 0.1);
    min-height: 230px;
    &__title {
        font-family: 'Inter';
        font-size: 14px;
        line-height: 1.2;
        font-weight: 800;
        color: rgba(50, 67, 92, 1);
        
    }
    &__text {
        font-family: 'Inter';
        font-size: 16px;
        line-height: 1.8;
        font-weight: 400;
        color: rgba(106, 99, 91, 1);
        flex-grow: 1 !important;
    }
    &__star {
        margin-top: auto;
    }
}
.testimonials {
    &__swiper {
        padding-top: 100px;
    }
    &__slider {
        position: relative;
        overflow: visible !important;
    }
    &__dec {
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        background: rgba(242, 242, 242, 1);
        width: 76%;
        height: 540px;
    }
}
.testimonials-over {
    margin: -140px -80px!important; 
    padding: 140px 80px !important; 
}
.swiper-slide-custom {
    transition: opacity 0.3s;
    opacity: 0;
}
.swiper-slide-visible {
    opacity: 1;
}
.button-wrap {
    margin-top: 60px;
    width: 100px;
    height: 66px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid;
    border-radius: 48%;
    border-color: rgba(255, 255, 255, 1);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.custom-prev,
.custom-next {
    background-color: rgba(255, 255, 255, 1);
    width: 48px;
    height: 48px;
    color: #fff;
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    top: 14%;
    transition: all 0.3s ease-in;
}
.custom-prev {
    left: -22%;
    transform: translateX(50%);
    img {
        transform: rotate(180deg);
    }
}
.custom-next {
    right:-22%;
    transform: translateX(-50%);
}
.custom-prev:hover,
.custom-next:hover  {
    background-color: rgba(49, 49, 49, 1);
    img {
        filter: brightness(0) invert(1);
    }
}
.swiper-button-disabled {
    img {
        filter: brightness(0) invert(1);
    }
    background-color: rgb(93, 92, 92);
    cursor: default;
    &:hover {
        background-color: rgb(93, 92, 92);
    }
}
@media (max-width: 1329.98px) {
    .slider {
        box-shadow: 0px 30px 15px 0px rgb(79, 79, 79, 0.1);
    } 
    .testimonials-over {
        margin: -50px -15px!important; 
        padding: 50px 15px !important; 
    }

}
@media (max-width: 1024.98px) {
    .testimonials{
        &__dec {
            height: 450px;
        }
        &__swiper {
            padding-top: 70px;
        }
    }
    .button-wrap {
        margin-top: 40px;
    }
    
    
}
@media (max-width: 425.98px) {
    .slider {
        row-gap: 10px;
        padding: 20px 20px;
    }
    .testimonials-over {
        margin: -40px -15px!important; 
        padding: 40px 15px !important; 
    }
    .testimonials{
        &__dec {
            height: 400px;
        }
        &__swiper {
            padding-top: 50px;
        }
    }
    .button-wrap {
        margin-top: 20px;
    }
}